$primary: #0d6efd
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$enable-cssgrid: true

@import "../node_modules/react-placeholder/lib/reactPlaceholder.css"
@import "~bootstrap/scss/bootstrap.scss"
@import "../node_modules/source-code-pro/source-code-pro.css"

html
    background: white

body
    background: $primary

code
    background: #f5f2f0
    padding: .1rem .2rem
    border-radius: 3px

    pre &
        padding: 0

td.fit, th.fit
    width: 0.1%
    white-space: nowrap

.text-decoration-underline-dotted
    text-decoration: underline dotted

.side-lines
    display: grid
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr)
    align-items: center
    text-align: center
    grid-gap: 20px
    width: 100%

    &::before
        content: ""
        border-top: 1px solid

    &::after
        content: ""
        border-top: 1px solid
